# Since Ansible 2.12 (core):
# To generate an example config file (a "disabled" one with all default settings, commented out):
#               $ ansible-config init --disabled > ansible.cfg
#
# Also you can now have a more complete file by including existing plugins:
# ansible-config init --disabled -t all > ansible.cfg

# For previous versions of Ansible you can check for examples in the 'stable' branches of each version
# Note that this file was always incomplete  and lagging changes to configuration settings

# for example, for 2.9: https://github.com/ansible/ansible/blob/stable-2.9/examples/ansible.cfg



#[defaults]
#enable_plugins=aws_ec2
#inventory=aws_ec2.yml
#remote_user=rocky
#private_key_file=awskg.pem

[defaults]
inventory = /vagrant/ansible/hosts
roles_path = /vagrant/ansible/roles

#private_key_file = ~/.ssh/id_rsa
#[privilege_escalation]
#become = True
#become_method = sudo


